*{
font-family: forager, sans-serif;
}

h1{
    font-size: 4vw;
   padding-top: 2vw;
   margin-left:3vw;
}
nav {
    border-style: solid;
    border-color: orange;
    border-width: 0.3vw;
    justify-content: space-between;
    display: flex;
    flex-flow: row wrap;
   padding-bottom: 3vw;
   padding-left: 2vw;
   margin-left: 8vw;
   width: 80%;
}
nav:hover{
     background-image: url(img/fondo\ \(2\).jpg);
   background-size: contain;
}

nav div p{ color: orange;}

nav div div img{
    width: 20vw; 
}

.uno{
   padding-left: 2vw;
   font-size: 2vw;
}

.dos{
    font-size: 2vw;
    padding-left: 2vw;
}

.tres{
 font-size: 2vw;
 padding-left: 2vw;
 margin-right: 3vw;
}

section {
    border-width: 0.3vw;
    border-color: orange;
    border-style: solid;
    width: 80%;
    height: 18vw;
    padding-bottom: 1vw;
    padding-left: 2.6vw;
    margin-left: 8vw;
    margin-top: 3vw;
    background-color: orange;
}

section h2{
    font-size: 2vw;
    padding-top: 0.4vw;
}

section p{
    font-size: 1.5vw;
    padding-right: 1vw;
    word-spacing: 0.2vw;
}

footer{
     border-width: 0.3vw;
    border-color: orange;
    border-style: solid;
    margin-top: 3vw;
    width: 80%;
    margin-left: 8vw;
    padding-right: 3vw;
}

footer p{
    font-size: 2vw;
    text-align: center;
}


@media only screen and (max-width: 600px){
    *{ background-color: black;}
    h1{ color: orange;}
 nav a{ color: orange;}
   section h2{ color: orange;}
    section p{ color: orange;}
    footer p{ color: orange;}

}

