* {font-family:Arial, Helvetica, sans-serif ;
margin: 0 auto;
width: 1200px;
padding: 0px;
}

header {

height: 180px;
margin-top: 10px;
margin-bottom: 10px;
}

.a {width:600px; height:180px;
}

.logo {
color: blue;
float: left;
width: 600px;
height: 180px;
}


.logo1 {
    width: 250px;
}

.logo1:hover {background-color: beige;}

li {
display: inline;
font-size: 20px;
padding-left: 95px;
}

.b {color: brown;}

.b:hover {color: black;}

ul {
    width: 600px;
    height: 90px;
    float: left;
    padding-top: 90px;}

    main {
    height: 600px;
    }

    video {
    width:600px ;
    height: 600px;
    float: left;
    }

    h2 {font-size: 25px;
    background-color: beige;
    width: 600px;
    height: 350px;
    float: left;
    text-align: center;
    padding-top: 250px;
}

span {color: brown;}

article {border: 3px solid black;
height: 80px;
margin-top: 10px;
margin-bottom: 10px;
text-align: center;
padding-top: 70px;
font-size: 20px;
}

.ideas {
height: 280px;
margin-bottom: 10px;}

.banner {
width: 500px;
float: left;
}

.banner2 {
width: 500px;
float: right;
}