* {background-image: url(img2/golden.webp);
background-size: cover;
background-attachment: fixed;
margin: 0 auto;
}

h1:hover {color: white;}
h2:hover {color: white;}

.box {width: 1200px;
height: 200px;
border: 3px solid black;
background-color: white;}

h3 {color: white;
text-align: center;
margin-top: 80px;
font-size: xx-large;}

.dos {margin-top: 30px;}