* {margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;}

h1 {text-align: center;
margin-top: 30px;
font-size: 50px;
color: brown;}

.box1 {display: flex;
margin-top: 20px;
justify-content: center;
}


.gay {display: inline;

}

.cuatro {margin-left: 60px;}

h3 {text-align: center;
margin-top: 100px;
font-size: x-large;
}

img {margin-left: 15px;
filter: blur(5px);}

img:hover {filter: blur(0px);}