h1{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 60px;
    color: black;
}

h1:hover{
    color: red;
}


section{
     display: flex;
   flex-flow: row wrap;
   justify-content: center;
      
}

h2{
    text-align: center;
    font-size: 45px;
    color: brown;
}

.foto1{
    margin-right: 10px
     
}
.foto1:hover{
    color: yellow;
     box-shadow: 10px 10px 8px rgb(250, 14, 14);
}

.foto2{
    margin-right: 10px;
     
}
.foto2:hover{
     box-shadow: 10px 10px 8px rgb(255, 0, 0);
}

.foto3:hover{
     box-shadow: 10px 10px 8px rgb(255, 0, 0);
}

p{
    font-size: 25px;
    text-align: center;
}

.interactivo{

    text-align: center;
    
}