*{
    margin: 0 auto;
}

header {background-image: url(img/Fondo.jpg);
background-size: cover;
width: 1500px;
height: 300px;
margin-top:10px;
padding-top: 30px;}

p {
    font-size: 20px;
margin-bottom: 30px;
margin-top: 30px;
  font-family: "Roboto", sans-serif;
text-align: center;
}

h1 {text-align: center;
  font-size: 70px;
  font-family: "Ballet", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin-top: 100px;
}


h4{
    background-image: url(img/Fondo.jpg);
font-size: 80px;
text-align: center;
height: 300px;
margin-top: 80px;
overflow: hidden;
margin-left: 30px;
margin-right: 30px;
  font-family: "Ballet", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}



.texto{
    text-align: center;
    margin-left: 30px;
    font-size: 23px;
    border-top: 20px;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.cuadro{
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
}

.cuadro div{
    border: 2px solid blue;
    margin: 10px;
    text-align: center;
    font-size: 35px;
    padding-bottom: 20px;
    font-family: Ballet;
}

.cuadro div:hover{
    border: 2px solid yellow;
    margin: 10px;
    text-align: center;
    font-size: 35px;
    padding-bottom: 20px;
    font-family: Ballet;
    color: orange;
    box-shadow: 10px 10px 8px yellow;
}